@using HomeCloud.Client.Common.Model

@inject NavigationManager Navigation

<div class="top-row pl-4 navbar navbar-dark">
    <HomeCloud.Client.Common.Components.IconButton Color="white"
                                                   Icon="arrow-back-outline"
                                                   Size="32"
                                                   OnClick="() => Navigation.NavigateTo(string.Empty)" />
    <p class="navbar-brand">@App.Name</p>
</div>

<div>
    <ul class="nav flex-column">
        @foreach (var navItem in App.NavigationItems)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@App.NavigationLink(navItem)"
                         Match="@(App.NavigationItems.First() == navItem ? NavLinkMatch.All : NavLinkMatch.Prefix)">
                    <span class="oi @navItem.Icon" aria-hidden="true"></span> @navItem.Title
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter] public HomeCloud.Client.Common.Model.App App { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
