
<MudText Typo="Typo.body2" Class="mud-table-pagination-caption">
    Rows per Page
</MudText>

<span style="width: 75px" class="ml-3 mr-5">
    <MudSelect T="int" 
               Class="mud-table-pagination-select" 
               DisableUnderLine="true" 
               Dense="true">
        
        @foreach (var pageItem in new List<int> { 10, 25, 50, 100 })
        {
            <MudSelectItem Value="@pageItem"/>
        }
    </MudSelect>
</span>

<MudText Typo="Typo.body2" Class="mud-table-pagination-caption">
    1-10 of 88
</MudText>

<div class="mud-table-pagination-actions">
    <MudIconButton Icon="@Icons.Material.Filled.FirstPage" />
    <MudIconButton Icon="@Icons.Material.Filled.NavigateBefore" />
    <MudIconButton Icon="@Icons.Material.Filled.NavigateNext" />
    <MudIconButton Icon="@Icons.Material.Filled.LastPage" />
</div>

@code {

}
