@page "/tours"

@attribute [Authorize]

@inject IWebAPIClient Client
@inject NavigationManager Navigation

<GridPagination Title="Tours" 
                SearchFunction="SearchAsync"
                ItemClicked="@(x => Navigation.NavigateTo($"tours/{x.TourId}"))"
                TItem="TourInfoDto">
    <ItemContent Context="tour">
        <MudToolBar>
            <img src="@(CreateImageUrl(tour.ImageUrl))" 
                 class="ml-n10 mr-8">
            <div>
                <MudText Typo="Typo.h6"
                         Style="text-align: start">@tour.Name</MudText>
                <MudText Style="text-align: start">Date: @(tour.Date.ToString())</MudText>
                <MudText Style="text-align: start">Distance:  @(tour.Distance)</MudText>
            </div>
            <MudToolBarSpacer />
        </MudToolBar>
    </ItemContent>
    <SkeletonItemContent>
        <MudToolBar Class="pa-11">
            <MudSkeleton SkeletonType="SkeletonType.Rectangle"
                         Height="100px"
                         Width="100px"
                         Class="ml-n10" />
            <div class="ml-5">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle"
                             Height="20px"
                             Width="100px"
                             Class="mt-n3" />
                <div class="ml-2 mt-3">
                    <MudSkeleton SkeletonType="SkeletonType.Text"
                                 Width="200x" />
                    <MudSkeleton SkeletonType="SkeletonType.Text"
                                 Width="135px" />
                </div>
            </div>
            <MudToolBarSpacer />
        </MudToolBar>
    </SkeletonItemContent>
    <EmptyContent>
        <MudToolBar Class="d-flex justify-center"
                    Style="width: 100%;
                           margin-top: 75px;">
            <MudIcon Icon="@Icons.Material.Filled.Search"
                     Size="Size.Large"
                     Class="mr-3"/>
            <MudText Typo="Typo.h6">No Result</MudText>
        </MudToolBar>
    </EmptyContent>
</GridPagination>

@code {

    private async Task<SearchResult<TourInfoDto>> SearchAsync(SearchQuery query)
    {
        var result = await Client.SendAsync(
            x => x.GetTourInfosPaginationAsync(query.PageSize, query.PageIndex, query.SearchString));

        var searchResult = new SearchResult<TourInfoDto>
        {
            Items = result.Data,
            Total = result.Total
        };

        return searchResult;
    }

    private string CreateImageUrl(string url)
    => url.Replace("{width}", "100")
          .Replace("{height}", "100")
          .Replace("&crop={crop}", string.Empty);
}